<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>258754598416-u0q9emb4obor4qprbh91bi1ank64ot1t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBg1hFXgijfPKtXcxmgsda3UhpAunptovA</string>
	<key>GCM_SENDER_ID</key>
	<string>258754598416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativepushnotificationandlocalnotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationreactnat-3a1a9</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationreactnat-3a1a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258754598416:ios:b18ff81c07969782e15c95</string>
</dict>
</plist>